/* Add here all your css styles (customizations) */
#experiences {
    background: url("../include/svg/svg-bg5.svg") no-repeat;
    background-position-y: center;
}

#formations {
    background: url("../include/svg/svg-bg5.svg")  ;
}

#competences {
    background: url("../include/svg/svg-bg4.svg") no-repeat;
    background-position-y: bottom;
}

.u-header__logo-img {
    height:auto;
    width: 50px;
    border-radius: 10%;
}

/** Experiences NavTabs */
#experiences .nav-item img {
    width: 40px;
    height: auto;
    padding-top: 20%;
}

#experiences .tab-pane h4 {
    font-weight: 400;
    font-size: 18px;
}
#experiences .tab-pane ul li {
    list-style: none;
}

/* Title */

.title {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 30%;
}

.title h1, .title h3 {
    transform: matrix(1, -0.20, 0, 1, 0, 0);
    -ms-transform: matrix(1, -0.20, 0, 1, 0, 0);
    -webkit-transform: matrix(1, -0.20, 0, 1, 0, 0);
}

.title h1 {
    font-family: "Oswald", Sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 40px;
    text-shadow: 4px 5px #e6e6d8, 6px 7px #c6a39a;
}

.title h1 span {
    display: inline-block;
    vertical-align: middle;
}

.title i {
    font-size: 15px;
    vertical-align: middle;
}

.title h3 {
    font-family: 'Julius Sans One', Sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 0.1em;
    position: relative;
    line-height: 1;
}

.title h3:before, .title h3:after {
    content: " ";
    position: absolute;
    width: 100px;
    height: 10px;
    border-top: 2px solid #121212;
    border-bottom: 2px solid #121212;
}

.title h3:before {
    margin: 5px 0 0 -110px;
}

.title h3:after {
    margin: 5px 0 0 10px;
}

@media screen and (max-width: 768px) {
    .title {
        display:none;
    }
}

@media  screen and (min-width : 769px) and (max-width: 999px )  {
    .title h1 {
        font-size:20px;
    }
    .title h3 {
        font-size: 7px;
    }
    .title i {
        font-size: 5px;
    }
    .title h3:before, .title h3:after {
        content: " ";
        position: absolute;
        width: 50px;
        height: 4px;
        border-top: 1px solid #121212;
        border-bottom: 1px solid #121212;
    }
}
@media  screen and (min-width : 1000px) and (max-width: 1265px )  {
    .title h1 {
        font-size:30px;
    }
    .title h3 {
        font-size: 10px;
    }
    .title i {
        font-size: 7px;
    }
    .title h3:before, .title h3:after {
        content: " ";
        position: absolute;
        width: 60px;
        height: 5px;
        border-top: 1px solid #121212;
        border-bottom: 1px solid #121212;
    }
}

/* Formations Timeline */
.success {
    background: #78AD42 !important;
}

.timeline-container {
    max-width: 1000px;
    margin: 0 auto;
}

#timeline .timeline-item:after, #timeline .timeline-item:before {
    content: '';
    display: block;
    width: 100%;
    clear: both;
}

#timeline {
    width: 100%;
    margin: 30px auto;
    position: relative;
    padding: 0 20px;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
#timeline:before {
    content: "";
    width: 3px;
    height: 100%;
    background: #1C71A4;
    left: 50%;
    top: 0;
    position: absolute;
}
#timeline:after {
    content: "";
    clear: both;
    display: table;
    width: 100%;
}
#timeline .timeline-item {
    margin-bottom: 50px;
    position: relative;
}
#timeline .timeline-item .timeline-icon {
    background: #1C71A4;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    left: 50%;
    overflow: hidden;
    margin-left: -23px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}
#timeline .timeline-item .timeline-icon svg, #timeline .timeline-item .timeline-icon .fa {
    position: relative;
    top: 13px;
    left: 14px;
    font-size: 24px;
    color: #fff;
}
#timeline .timeline-item .timeline-content {
    width: 45%;
    background: #fff;
    padding: 20px;
    -webkit-box-shadow: 3px 3px 0 rgba(28, 113, 164, 0.1);
    -moz-box-shadow: 3px 3px 0 rgba(28, 113, 164, 0.1);
    -ms-box-shadow: 3px 3px 0 rgba(28, 113, 164, 0.1);
    box-shadow: 3px 3px 0 rgba(28, 113, 164, 0.1);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    border: 1px solid #1C71A4;
    border-top: none;
}
#timeline .timeline-item .timeline-content .img-square {
    height: 30px;
    width:30px;
    border-radius: 50%;
}
#timeline .timeline-item .timeline-content .img-rectangular {
    height: 30px;
    width:auto;
}
#timeline .timeline-item .timeline-content h3 {
    padding: 15px;
    background: #1C71A4;
    color: #fff;
    margin: -20px -20px 0 -20px;
    font-weight: 300;
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    -ms-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
    font-size: 22px;
}
#timeline .timeline-item .timeline-content h4{
    font-weight: 400;
    font-size: 18px;
}
#timeline .timeline-item .timeline-content p {
    padding-top: 10px;
    padding-bottom: 5px;
}
#timeline .timeline-item .timeline-content li {
    list-style: none;
}
#timeline .timeline-item .timeline-content:before {
    content: '';
    position: absolute;
    left: 45%;
    top: 20px;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-left: 7px solid #1C71A4;
}
#timeline .timeline-item .timeline-content.right {
    float: right;
}
#timeline .timeline-item .timeline-content.right:before {
    content: '';
    right: 45%;
    left: inherit;
    border-left: 0;
    border-right: 7px solid #1C71A4;
}


@media screen and (max-width: 768px) {
    #timeline {
        margin: 30px;
        padding: 0px;
        width: 90%;
    }
    #timeline:before {
        left: 0;
    }
    #timeline .timeline-item .timeline-content {
        width: 90%;
        float: right;
    }
    #timeline .timeline-item .timeline-content:before, #timeline .timeline-item .timeline-content.right:before {
        left: 10%;
        margin-left: -6px;
        border-left: 0;
        border-right: 7px solid #1C71A4;
    }
    #timeline .timeline-item .timeline-icon {
        left: 0;
    }
}


/* Animation CSS */

/* icon animation */
.timeline-icon.is-hidden {
    visibility: hidden;
}
.timeline-icon.animate-it {
    visibility: visible;
    -webkit-animation: bounce-1 0.6s;
    -moz-animation: bounce-1 0.6s;
    animation: bounce-1 0.6s;
}

/* content block animation */
.timeline-content.is-hidden {
    visibility: hidden;
}
.timeline-content.animate-it {
    visibility: visible;
    -webkit-animation: bounce-2 0.6s;
    -moz-animation: bounce-2 0.6s;
    animation: bounce-2 0.6s;
}
@media only screen and (min-width: 769px) {
    /* Inverse bounce effect on even content blocks */
    .timeline-content.right.animate-it {
        -webkit-animation: bounce-2-inverse 0.6s;
        -moz-animation: bounce-2-inverse 0.6s;
        animation: bounce-2-inverse 0.6s;
    }
}
@media only screen and (max-width: 768px) {
    /* Inverse bounce effect on all content blocks */
    .timeline-content.animate-it, .timeline-content.right.animate-it {
        -webkit-animation: bounce-2-inverse 0.6s;
        -moz-animation: bounce-2-inverse 0.6s;
        animation: bounce-2-inverse 0.6s;
    }
}

/* ALL animation types called */

@-webkit-keyframes bounce-1 {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.5);
    }

    60% {
        opacity: 1;
        -webkit-transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
    }
}
@-moz-keyframes bounce-1 {
    0% {
        opacity: 0;
        -moz-transform: scale(0.5);
    }

    60% {
        opacity: 1;
        -moz-transform: scale(1.2);
    }

    100% {
        -moz-transform: scale(1);
    }
}
@keyframes bounce-1 {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.5);
        -moz-transform: scale(0.5);
        -ms-transform: scale(0.5);
        -o-transform: scale(0.5);
        transform: scale(0.5);
    }

    60% {
        opacity: 1;
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
}

@-webkit-keyframes bounce-2 {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-100px);
    }

    60% {
        opacity: 1;
        -webkit-transform: translateX(20px);
    }

    100% {
        -webkit-transform: translateX(0);
    }
}
@-moz-keyframes bounce-2 {
    0% {
        opacity: 0;
        -moz-transform: translateX(-100px);
    }

    60% {
        opacity: 1;
        -moz-transform: translateX(20px);
    }

    100% {
        -moz-transform: translateX(0);
    }
}
@keyframes bounce-2 {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-100px);
        -moz-transform: translateX(-100px);
        -ms-transform: translateX(-100px);
        -o-transform: translateX(-100px);
        transform: translateX(-100px);
    }

    60% {
        opacity: 1;
        -webkit-transform: translateX(20px);
        -moz-transform: translateX(20px);
        -ms-transform: translateX(20px);
        -o-transform: translateX(20px);
        transform: translateX(20px);
    }

    100% {
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }
}
@-webkit-keyframes bounce-2-inverse {
    0% {
        opacity: 0;
        -webkit-transform: translateX(100px);
    }

    60% {
        opacity: 1;
        -webkit-transform: translateX(-20px);
    }

    100% {
        -webkit-transform: translateX(0);
    }
}
@-moz-keyframes bounce-2-inverse {
    0% {
        opacity: 0;
        -moz-transform: translateX(100px);
    }

    60% {
        opacity: 1;
        -moz-transform: translateX(-20px);
    }

    100% {
        -moz-transform: translateX(0);
    }
}
@keyframes bounce-2-inverse {
    0% {
        opacity: 0;
        -webkit-transform: translateX(100px);
        -moz-transform: translateX(100px);
        -ms-transform: translateX(100px);
        -o-transform: translateX(100px);
        transform: translateX(100px);
    }

    60% {
        opacity: 1;
        -webkit-transform: translateX(-20px);
        -moz-transform: translateX(-20px);
        -ms-transform: translateX(-20px);
        -o-transform: translateX(-20px);
        transform: translateX(-20px);
    }

    100% {
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }
}

/* Gallerie */

#gallerie img {
    max-height: 600px;
}

#footer img  {
    height: 100px;
    width: auto;
    border-radius: 25%;
}
/* Colors */
.bg-color-blue-cv {
    background-color: #1C71A4;
}
.bg-color-cv-yellow-dark {
    background-color: #E8C25A;
}
.bg-color-cv-yellow-light {
    background-color: #FFE870;
}
.bg-color-cv-orange-dark {
    background-color: #E86E46;
}
.bg-color-cv-orange-light {
    background-color: #FF924D;
}
.bg-color-cv-red {
    background-color: #EB1C10;
}
.bg-color-cv-purple {
    background-color: #EB0B83;
}
.bg-color-cv-pink {
    background-color: #FF4AF6;
}
.bg-color-cv-cyan-dark {
    background-color: #21C6EB;
}
.bg-color-cv-cyan-light {
    background-color: #61FFF8;
}
.bg-color-cv-green-dark {
    background-color: #0CEB4F;
}
.bg-color-cv-green-light {
    background-color: #77EB6C;
}